body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://static4.depositphotos.com/1018174/459/i/600/depositphotos_4597260-stock-photo-studio-background-smoky-effect.jpg');
  background-size: cover ;
}
/* nav */
.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.links {
  color: #aad1f9;
  text-shadow: 2px 2px 10px #947fd1;
  text-decoration: none;
}
/* home */
h1 {
  text-shadow: 2px 2px 10px #947fd1;
}
p {
  color: rgb(141, 205, 244);
  text-shadow: 2px 2px 10px #b5adcc;
}
h2 {
  text-shadow: 2px 2px 10px #947fd1;
}
.name-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images {
  width: 200px;
  height: 200px;
}
/* villains gallery */
.name-img_gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
/* VILLAIN */
.edit-delete {
  display: flex;
  justify-content: space-between;
  margin: 25px 180px;
}

button {
  font-size: 20px;
  background-color: #7f9cd1;
  color: rgb(57, 57, 124);
  border: none;
  box-shadow: 2px 2px 10px #947fd1;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
